<div>
    <img src=<%= track.img %> alt="">
    <div>
        <h2><%= track.track  %></h2>
        <p><%= track.artists %></p>
        <p><%= tracks.album %></p>
        <p><%= track.genres %></p>
        <p><%= track.year  %></p>
    </div>
</div>